.game-board {
    margin: 25px;
    width: 500px;
    height: 500px;
    border: 1px solid black;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
}

.game-cell {
    border: 1px solid black;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 70px;
}

.notifyWinner {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    font-weight: bold;
}

.resetButton {
    height: 50px;
    width: 100px;
    font-size: 15px;
    font-weight: bold;
    border-radius: 15px;
    cursor: pointer;
}

.game-cell.is-x {
    color: red;
}

.game-cell.is-o {
    color: blue;
}
